{% extends 'base.html' %}

{% block title %}Последние 10 писем{% endblock %}

{% block link %}<a class="btn btn-block btn-lg" href="{%url 'sender:email_create'%}">Написать письмо</a>{% endblock %}

{% block title_h2 %}Последние 10 писем{% endblock %}

{% block content %}
<div id="mail">
    <table class="table table-stripped table-hover">
        <thead class="thead-light">
            <tr class="table-bordered text-center">
                <th>№</th>
                <th>Адрес</th>
                <th>Тема</th>
                <th>Текст</th>
                <th>Задержка</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody id="mailblock" class="table-bordered text-center">
            {% for mail in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ mail.email }}</td>
                <td>{{ mail.subject|truncatechars:20 }}</td>
                <td>{{ mail.message|truncatechars:20 }}</td>
                <td>{{ mail.delay }} с</td>
                {% if mail.send_status == 1 %}
                <td class="bg-warning status">Ожидание</td>
                {% elif mail.send_status == 2 %}
                <td class="bg-success status">Отправлено</td>
                {% elif mail.send_status == 3 %}
                <td class="bg-danger status">Ошибка</td>
                {% endif %}
            </tr>
            {% endfor %}
        <tbody>
    </table>
</div>
{% endblock %}

{% block script %}
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script>
        function updateData() {
            $.ajax({
                type: 'GET',
                url: '{% url 'sender:update_status' %}',
                success: function(template) {
                    $('#mail').html(template);
                    checkStatus();
                }
            });
        };
        function checkStatus() {
            let status = $('.status').map(function(i,elem) {
                return $(elem).text();
            }).get();
            let counter = 0;
            for(let i = 0; i < status.length; i++)
            {
                if (status[i] == 'Ожидание')
                    counter++;
            }
            if (counter == 0)
                clearInterval(timerIdUpdate);
        };
        let timerIdUpdate = setInterval(updateData, 1000);
    </script>
{% endblock %}