{% extends 'base.html' %}

{% block title %}e-mail sender{% endblock %}

{% block link %}
    
    <a class="btn btn-block btn-lg" href="{%url 'sender:list'%}">Последние 10 писем</a>
    
{% endblock %}
{% block title_h2 %}Написать письмо:{% endblock %}

{% block content %}
    <form class="m-auto w-50" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary form-control" type="submit" name="btnSendMsg" value="Отправить">
    </form>
{% endblock %}
